<!DOCTYPE html>
<html>
<head>
  <title>Your Temporary Password</title>
</head>
<body>
  <h2>Hello <%= name %>,</h2>
  <p>Your temporary password is: <strong><%= password %></strong></p>
  <p>Please change your password after logging in.</p>
  <br>
  <p>Best regards,</p>
  <p>Cihuy App Team</p>
</body>
</html>
